@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Montserrat:wght@300;400;600;700;800&family=Ubuntu:wght@400;700&display=swap");

.body {
  background: #3a4965;
  font-family: "Arimo", sans-serif;
  color: #484848;
  margin-top: 20px;
}

.table {
  margin: 0 auto;
  max-width: 1143px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #dddddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  border-collapse: collapse;
}

.table__thead {
  font-weight: 700;
}

.table__thead_title {
  width: 313px;
  height: 160px;
  font-size: 18px;
}

.table__title_text {
  font-size: 30px;
}

.table__thead_format {
  width: 284px;
  height: 73px;
  font-size: 24px;
  color: #ffffff;
  border: none;
}

.table__thead_row {
  background: #fafafa;
}

.table__row_price {
  font-size: 60px;
}

.table__price_per {
  display: flex;
  justify-content: center;
}

.table__per_price {
  padding-top: 7px;
}

.table__per_month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table__month_price {
  font-size: 24px;
}

.table__month_text {
  font-size: 18px;
  font-weight: 400;
}

.table__thead_format:nth-child(2) {
  background: #89c331;
}

.table__thead_format:nth-child(3) {
  background: #f04a56;
}

.table__thead_format:nth-child(4) {
  background: #20807c;
}

.table td {
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}

.table td:first-child {
  border-left: none;
}

.table td:last-child {
  border-right: none;
}

.table__thead_row .table__row_price:first-child {
  border-left: 2px solid #dddddd;
}

.table__tbody_row {
  height: 72px;
  background-color: #e3e3e3;
}


.table__tbody_row:nth-child(odd) {
  background-color: #f2f2f2;
}

.table__tfoot {
  height: 106px;
  color: #ffffff;
  font-weight: 700;
  background: #dddddd;
}

.table__format_link {
  padding: 19px 58px;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(0deg, #404040 20%, #484848 0%);
}

.table__row_format:nth-child(2n + 2) {
  background-color: #f2f2f2;
}

.table__row_format:nth-child(3) {
  background: #fafafa;
}

.table__row_format:first-child .table__format_link {
  padding: 19px 45px;
  background: linear-gradient(0deg, #404040 20%, #484848 0%);
}

.table__row_format:nth-child(2) .table__format_link {
  background: linear-gradient(0deg, #79b027 20%, #89c331 0%);
}

.table__row_format:nth-child(3) .table__format_link {
  background: linear-gradient(0deg, #df3a46 20%, #f04a56 0%);
}

.table__row_format:last-child .table__format_link {
  background: linear-gradient(0deg, #16736f 20%, #20807c 0%);
}